{% extends "base_bs.html" %}

{% block content %}
<div class="row col-12">
    <h1 class="h1 text-center m-4">{{caption}}</h1>
    <div class="card card-body mb-3">
        <a href="{{url_for('students')}}" class="list-group-item link-primary fs-4 mb-2">Задание 3</a>
        <p class="card-text">Создать базу данных для хранения информации о студентах и их оценках в
            учебном заведении. База данных должна содержать две таблицы: "Студенты" и "Оценки". В таблице "Студенты"
            должны быть следующие поля: id, имя, фамилия, группа
            и email. В таблице "Оценки" должны быть следующие поля: id, id студента, название предмета и оценка.
            Необходимо создать связь между таблицами "Студенты" и "Оценки". Написать функцию-обработчик, которая будет
            выводить список всех
            студентов с указанием их оценок.</p>
    </div>
    <div class="card card-body">
        <a href="{{url_for('register')}}" class="list-group-item link-primary fs-4 mb-2">Задание 8</a>
        <p class="card-text">Создать форму для регистрации пользователей на сайте. Форма должна содержать поля "Имя",
            "Фамилия", "Email", "Пароль" и кнопку "Зарегистрироваться". При отправке формы данные должны сохраняться в
            базе данных, а пароль должен
            быть зашифрован.</p>
    </div>
</div>
{% endblock %}