{% extends 'base_bs.html' %}

{% block content%}
<div class="row mt-4">
    <a href="{{url_for('lesson_2')}}" class="link-primary">Назад</a>
</div>
<div class="row">
    <h1 class="h1 text-center m-4">{{caption}}</h1>
    <form action="{{url_for('pow2')}}" method="post">
        <input class="form-control mb-3" type="text" name="number" placeholder="Введите число" required>
        <button class="btn btn-outline-success" type="submit">Отправить</button>
        {% if result %}
        <div class="col-12 alert alert-{{category}} mt-4">
            <p> {{result}} </p>
        </div>
        {% endif %}
    </form>
</div>
{% endblock %}