{% extends 'base.html' %}

{% block content%}
<section class="content about">
    <div class="center">
        <div class="about-content">
            <h2 class="products__title about-content-title">Наша миссия</h2>
            <div class="about-content__text">
                Мы стремимся использовать технологии, логистику и инновации, чтобы оставаться на шаг впереди
                потребностей наших
                клиентов. Объединяя людей и продукты как от международных поставщиков, так и от небольших местных
                предприятий, мы
                работаем над улучшением жизни и созданием возможностей для всех людей в России, независимо от их
                местоположения, начиная
                от самого отдаленного населенного пункта и заканчивая столицей.
            </div>
        </div>
    </div>
</section>
{% endblock %}