{% extends 'base_bs.html' %}

{% block content%}
<div class="row col-12">
    <h1 class="h1 text-center m-3">{{caption}}</h1>
    <a href="{{url_for('shop')}}" class="list-group-item link-primary fs-3">Урок 1 (шаблон магазина)</a>
    <a href="{{url_for('lesson_2')}}" class="list-group-item link-primary fs-3">Урок 2 (погружение во Flask
        )</a>
    <a href="{{url_for('lesson_3')}}" class="list-group-item link-primary fs-3">Урок 3. Дополнительные возможности
        Flask</a>
</div>
{% endblock %}